@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
/* CSS pour smartphone */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h2 {
    font-family: 'Source Code Pro';
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: .75em;
}
h3 {
    text-decoration: underline;
    font-family: 'Source Code Pro';
    font-size: 2em;
    font-weight: bold;
}
p, ol, ol li {
    list-style: none;
    line-height: 24px;
}
body {
    height: 100vh;
    width: 100vw;
    background: rgb(2,0,36);
    background: linear-gradient(60deg, rgba(2,0,36,1) 0%, rgba(9,102,121,1) 20%, rgba(0,212,255,1) 100%);
    background-size: contain;
    background-attachment: fixed;
    font-family: 'Source Code Pro';
    color: white;
    overflow-y: hidden;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 90%;
    background-image: url('../images/monde.jpg');
    background-size: cover;
    background-position: center center;
}
header > h1, header > h4 {
    text-align: center;
}
nav {
    width: 100%;
    height: 10%;
}
.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 0;
    padding-left: 0;
    list-style:none;
    background:white;
}
.nav li {
    width: 100%;
    height: 100%;
    font-family: 'Unica One', cursive;
}
.nav li a {
    display:block;
    text-decoration: none;
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: all 1s ease;
}
.nav li a:hover { 
    color: white;
    background-color: black;
}
.nav p {
    display: none;
}
.nav img{
    height: 30px;
    width: 30px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;   
}
#presentation, #competences, #diplomes, #experiences, #contact  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
#presentation p {
    margin-top: 1em;
}
.titremetier{
    text-decoration: underline;
    font-weight: bold;
}
.ajuster {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
}
#contact > .ajuster > ol {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 100%;
    height: 10%;
    background: rgb(46, 45, 45);
    transition: all 1s ease;
    bottom: 0;
}
footer:hover {
    background-color: black;
    color: white;
}

h1, h4, h2 {
	-webkit-animation: text-focus-in 1s both;
	        animation: text-focus-in 1s both;
}

 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  

/* CSS pour les PC */
@media screen and (min-width: 620px) {
    p, ol, ol li {
        line-height: 27px;
        text-align: justify;
    }
    .nav p {
        display: inline-block;
    }
}
